@import url("https://fonts.google.com/specimen/Poppins");

@media screen and (max-width: 480px){
    #currency-select, #amount-container, #details{
        display: flex;
        flex-flow: column wrap !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .amount{
        margin: 1rem 0 !important;
    }
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #111;
    background-color: gainsboro;
}

h1{
    margin-bottom: 4rem;
}

#calculator{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#currency-select{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#amount-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.amount{
    margin-left: 4rem;
}

img{
    object-fit: cover;
    width: 50px;
    height: 50px;
}

img:hover{
    cursor: pointer;
}

select{
    width: 14.5rem;
    height: 3rem;
    border: 2px solid transparent;
}

select:hover{
    border-bottom: 2px solid black;
}

select, input{
    outline: none;
}

input{
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
}

input::placeholder{
    color: #111;
}

#details{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1rem 2rem;
}

.info{
    margin: 2rem;
}